<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>API PetPlus</title>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=iso-8859-1" />
<link rel="stylesheet" href="static/mike02.css" type="text/css" />
</head>
<body>
<div id="container" >
  <div id="headerWrap">
    <div id="header">
      <h1><a href="#">API PetPlus</a></h1>
      <ul id="navigation">
        <li><a href="/app_animal/animal/">Animales</a></li>
        <li><a href="/app_veterinaria/veterinaria/">Vets</a></li>
        <li><a href="/app_dueno/dueno/">Dueños</a></li>
        <li><a href="/app_consulta_procedimiento/consulta_procedimiento/">Proc.</a></li>
        <li><a href="/admin/">Admin</a></li>
      </ul>
    </div>
  </div>
  <div id="content">
    <div id="contentHeader">
      <div  id="siteDescription">
        <p>Sitio de prueba para realizar tests de la API PetPlus</p>
      </div>
    </div>
    <div id="main">
      <div class="post">
        <h2>Proyecto PetPlus</h2>
        <p>Muchas personas tienen mascotas, las cuales son muy propensas a enfermarse / accidentarse, debido a estos mismos siempre deben estar alerta con la integridad física de su mascota, independiente de donde estas se encuentren, ya sea en la casa, en el trabajo o de vacaciones, siempre será una preocupación pendiente. 

          Cuando llega el caso de que un animal sufre de una enfermedad o se accidenta, las personas tienen la responsabilidad de acudir de manera inmediata a un veterinario, ocurriendo los siguientes problemas:</p>
          <ul>
            <li>1- No sabe la ubicación de su centro veterinario más cercano, del cual suelen acudir al más “reconocido” que es el que está más alejado de uno mismo.</li>
            <li>2- Las fichas médicas del animal, son en formato físico por ende estas mismas son propensas a extraviarse o deteriorarse.</li>
          </ul>
        </div>
      <div class="post">
        <h2>Funciones varias</h2>
        <p>Este template esta enfocado en el testeo, por lo que las funciones que tendrá serán:</p>
        <ul>
          <li>Listar Animales</li>
          <li>Listar Veterinarias</li>
        </ul>
      </div>
    </div>
    <div id="secondary">
      <h2>PetPlus Team</h2>
      <p>Equipo compuesto por 4 integrantes, realizando el portafolio de titulo en conjunto para graduarse de ingeniería en informática.</p>
      <h2>Versión</h2>
      <p>Version actual del Proyecto: PreAlpha 0.8v (11/10/22)</p>
      <h2>Institución</h2>
      <img id="secondary" href="" src="static/Logo_DuocUC.png" alt="">
    </div>
  </div>
  <div id="footer">
    <p>&copy; 2022 PetPlus Team | Design by <a href="https://github.com/lucasvasquezr21">Lucas Vásquez</a></p>
  </div>
</div>
</body>
</html>
